body{
    background-color: white;
    background-size:black;
}
#conteudo{
    width: 50%;   
    margin-left: 20%;
    margin-top: 2%;
    background-color: rgba(95, 88, 99, 0.521);
    padding: 2%;
}
h1{
    margin-bottom: 5%;
}

#titulo{
    text-transform: uppercase;
    font-weight: bold;
}

#saida{
    margin-top: 10%;
    font-family: "blue";
    font-size: 2.5em;
}

#imagem img{
    position: fixed;
    right: -100px;
    height: 100%;
    bottom: 0px;
  }